<!DOCTYPE html>
<html>
    <body style="background-color: rgba(219, 204, 190, 0.729);">
        <head>
            <title>Kape't Balay</title>
            <link rel="stylesheet" href="../STYLES/about-us.css">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            
            <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap" rel="stylesheet">

            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        </head>

        <header style="background-color: rgb(219, 204, 190);">
            
            <!---------------- LOGO -------------------->
            <div>
                <img class="logo" src="../IMAGES/logo.png" alt="K'tB Logo">
            </div>

            <div class="header">
                <h1>Kape't Balay</h1>
                <h2>Where every sip feels like Home</h2>
            </div>

            <!-------------- NAV LINKS ----------------->
            <div class="navigation">
                <nav class="header-nav">
                    <ul>
                        <li><a href="../index.html">HOME</a></li> |
                        <li><a href="about-us.html">ABOUT US</a></li> |
                        <li><a href="menu.html">MENU</a></li>|
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

            <!------------- SOCIAL MEDIA -------------->
            <div class="soc-med">
                <a href="https://www.facebook.com/p/Kapet-Balay-61573647875696/">   <img class="socials" src="../IMAGES/facebook.png" alt="Facebook"></a>
                <a href="info.kapetbalay@gmail.com">   <img class="socials" src="../IMAGES/email.png" alt="Email"></a>
                <a href="https://maps.apple.com/place?place-id=I312506E326571545&address=Barangay+1%2C+Calaca%2C+4212+Batangas%2C+Philippines&coordinate=13.937422%2C120.808286&name=Kape%27t+Balay&_provider=9902">   <img class="socials" src="../IMAGES/gps.png" alt="Location"></a>
            </div>
        </header>

        <main>
            <section class="display-pic">
                <h1>Comfort in Every Cup.</h1>
                <h2> Where every sip feels like Home.</h2>
            </section>

            <section class="baba-ng-pic-container">
                <div class="about-ktb">
                    <h1>About Kape't Balay</h1><br>
                    <div class="abt-ktb-paragraph">
                        <p>Welcome to Kape't Balay, where every cup of coffee feels like home. Nestled in Calaca, Batangas, our café is more than just a place to enjoy handcrafted coffee and delicious food—it is a warm and inviting space where friends gather, families connect, and unforgettable moments are created. <br><br> Inspired by the Filipino word "balay," meaning home, we strive to provide comfort, genuine hospitality, and a relaxing atmosphere for every guest.</p>

                        <p>Whether you're looking for a quiet corner to study, a cozy spot to work, or the perfect place to spend quality time with your loved ones, Kape't Balay offers an experience that blends great flavors with a welcoming ambiance. Every drink is carefully prepared, and every meal is served with passion, ensuring that each visit leaves you feeling refreshed and satisfied.
                            <br><br>
                        At Kape't Balay, we believe that the best memories begin with a great cup of coffee. Come in, unwind, and make yourself at home.</p>
                    </div>
                </div>

                <div class="table-at-pic-container">
                  <div class="table">
                        <table>
                            <thead>
                                <th colspan="2">Business Overview</th>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="col1">
                                        <img class="table-icons" src="../IMAGES/id-card.png"> 
                                        <p>Business Name</p>
                                    </td>
                                    <td>Kape't Balay</td>
                                </tr>

                                <tr>
                                    <td class="col1"> 
                                        <img class="table-icons" src="../IMAGES/mug-hot-alt.png"> 
                                        <p>Business Type</p>
                                    </td>
                                    <td>Cafe</td>
                                </tr>

                                <tr>
                                    <td class="col1">
                                        <img class="table-icons" src="../IMAGES/user.png">
                                        <p>Owner</p>
                                    </td>
                                    <td> Ronie Endozo</td>
                                </tr>

                                <tr>
                                    <td class="col1"> 
                                        <img class="table-icons" src="../IMAGES/marker.png"> 
                                        <p>Address</p>
                                    </td>
                                    <td>Poblacion 5, Calaca, Batangas</td>
                                </tr>

                                <tr>
                                    <td class="col1"> 
                                        <img class="table-icons" src="../IMAGES/phone-call.png"> <p>Contact Number </p> 
                                    </td>
                                    <td>0945 178 2283</td>
                                </tr>

                                <tr>
                                    <td class="col1"> 
                                        <img class="table-icons" src="../IMAGES/envelope.png"> Email
                                    </td>
                                    <td>info.kapetbalay@gmail.com</td>
                                </tr>

                                <tr>
                                    <td class="col1"> 
                                        <img class="table-icons" src="../IMAGES/clock-three.png"> 
                                        <p>Business Hours</p>
                                    </td>
                                    <td>Monday - Sunday | 11:00 AM - 11:00 PM</td>
                                </tr>
                            </tbody>   
                        </table>
                    </div>

                    <div class="owner-pic">
                        <img class="owner" src="../IMAGES/owner-pic.jpg">
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <img class="footer-logo" src="../IMAGES/footer-logo.png" alt="FOOTER LOGO"> 
            <p>&copy; 2026. All Rights Reserved. Kape't Balay </p>

            <div>
                <a href="https://www.facebook.com/p/Kapet-Balay-61573647875696/">   <img class="footer-socials" src="../IMAGES/facebook.png" alt="Facebook"></a>
                <a href="info.kapetbalay@gmail.com">   <img class="footer-socials" src="../IMAGES/email.png" alt="Email"></a>
                <a href="https://www.instagram.com/kapetbalayofficial/">   <img class="footer-socials" src="../IMAGES/instagram.png" alt="Location"></a>
            </div>
        </footer>
    </body>
</html>