<!DOCTYPE html>
<html>
    <body style="background-color: rgba(219, 204, 190, 0.729);">
        <head>
            <title>Kape't Balay</title>
            <link rel="stylesheet" href="../STYLES/balay-favs.css">
            <LINK rel="stylesheet" href="../STYLES/standard.css">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            
             <!-- FONT NG HEADER-->
            <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap" rel="stylesheet">

           <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        </head>

        <header style="background-color: rgb(219, 204, 190);">
            
            <!---------------- LOGO -------------------->
            <div>
                <img class="logo" src="../IMAGES/logo.png" alt="K'tB Logo">
            </div>

            <div class="header">
                <h1>Kape't Balay</h1>
                <h2>Where every sip feels like Home</h2>
            </div>

            <!-------------- NAV LINKS ----------------->
            <div class="navigation">
                <nav class="header-nav">
                    <ul>
                        <li><a href="../index.html">HOME</a></li>|
                        <li><a href="about-us.html">ABOUT US</a></li>|
                        <li><a href="menu.html">MENU</a></li>|
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

            <!------------- SOCIAL MEDIA -------------->
            <div class="soc-med">
                <a href="https://www.facebook.com/p/Kapet-Balay-61573647875696/">   <img class="socials" src="../IMAGES/facebook.png" alt="Facebook"></a>
                <a href="info.kapetbalay@gmail.com">   <img class="socials" src="../IMAGES/email.png" alt="Email"></a>
                <a href="https://maps.apple.com/place?place-id=I312506E326571545&address=Barangay+1%2C+Calaca%2C+4212+Batangas%2C+Philippines&coordinate=13.937422%2C120.808286&name=Kape%27t+Balay&_provider=9902">   <img class="socials" src="../IMAGES/gps.png" alt="Location"></a>
            </div>
        </header>

        <main>
            <section class="balay-favs-container">
                
                <h1>—— Balay Favorites ——</h1>

                    <div class="delights-row"> <!-- ITO AY PARA SA ROW NG MGA ITEMS -->
                        
                        <div class="favs">
                            <img class="delight" src="../IMAGES/fav2.png">
                            <div class="delight-info">
                                <p>Pork Kare Kare</p><br>
                                
                                 <p>₱ 210</p>
                            </div>
                        </div>

                         <div class="favs"><!-- ITO AY DIV NG ITEMS -->
                            <img class="delight" src="../IMAGES/fav1.png">
                            <div class="delight-info"> <!-- ITO AY DIV NG IMG AT PRICE -->
                                <p>Chicken Kare Kare</p><br>

                               <div class="prices">
                                    <p>REGULAR</p>
                                    <p>₱ 150</p>
                                </div>

                                <div class="prices">
                                    <p>LARGE</p>
                                    <p>₱ 200</p>
                                </div>
                            </div>
                        </div>

                        <div class="favs">
                            <img class="delight" src="../IMAGES/fav3.png">
                            <div class="delight-info">
                                <p>Pork Sisig</p><br>
                                
                                <p>₱ 140</p>
                            </div>
                        </div>
       
                    </main>
                </body>
            </html>

        <footer>
            <img class="footer-logo" src="../IMAGES/footer-logo.png" alt="FOOTER LOGO"> 
            <p>&copy; 2026. All Rights Reserved. Kape't Balay </p>

            <div>
                <a href="https://www.facebook.com/p/Kapet-Balay-61573647875696/">   <img class="footer-socials" src="../IMAGES/facebook.png" alt="Facebook"></a>
                <a href="info.kapetbalay@gmail.com">   <img class="footer-socials" src="../IMAGES/email.png" alt="Email"></a>
                <a href="https://www.instagram.com/kapetbalayofficial/">   <img class="footer-socials" src="../IMAGES/instagram.png" alt="Location"></a>
            </div>
        </footer>
    </body>
</html>