
/*--------------------------------------------*/
main {
    justify-content: center;
    align-items: center ;

    background-color: white;

    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.table-icons {
    width: 25px;
}
.owner {
    width: 250px;
    border-radius: 20px;

    border-style: 2px;


    display: block;

    background-color: rgb(59, 7, 7);

    padding: 5px;
}


.display-pic {
    background-image: url(../IMAGES/ktb-frontyard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 100px;

    color: white;

    h1 {
        font-size: 60px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h2 {
        font-family: "Corinthia", cursive;
        font-size: 40px;
    }

   
}

.baba-ng-pic-container {
    display: flex;

    gap: 5px;

    padding: 10px;

    align-items: center;
}

.abt-ktb-paragraph {
    display: flex;

    gap: 20px;
}

.abt-ktb-paragraph p {
    flex: 1;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-ktb {
    text-align: justify;
}

.about-ktb, 
.table-at-pic-container {
    flex: 1;

    justify-content: center;

    gap: 10px;
}

/* TABLE */
td, th, p {
    padding: 5px;
    font-family: "Oswald", sans-serif;
}

td {
    align-items: center;
}

th {
    background-color: rgba(57, 27, 2, 0.909);
    color: white;

    border-radius: 10px;
}

.table-at-pic-container {
    display: flex;
}

.col1 {
    display: flex;
    gap: 10px;

    align-items: center;
}