* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}


/*------------------ HEADER --------------------*/
header {
    display: flex;

    align-items: center;
    justify-content: space-around;

    top: 0;
    position: sticky;
    z-index: 1000;

    h2 {
        font-family: "Corinthia", cursive;
        font-size: 30px;
    }

    h1 {
        text-align: center;
    }
}

.header-nav li > a {
    text-decoration: none;

    color: black;

    align-items: center;

    font-weight: bold;
}

.header-nav ul {
    display: flex;

    align-items: center;

    gap: 30px;

    padding: 10px;

    border-radius: 10px;

    li {
        list-style: none;
        
        a {
             color: rgb(59, 5, 5);
        }
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 5px;

    background-color:  rgb(219, 204, 190);
    color: black;
}

/*--------- IMAGES ----------*/
.logo {
    width: 150px;
}

.socials {
    width: 40px;
}

.contact-logo {
    width: 20px;
    height: 20px;
}

.footer-logo {
    width: 150px;
}

.footer-socials {
    width: 30px;
    height: 30px;
}

.icons {
    width: 40px;
    height: 40px;

    background-color:  rgb(218, 173, 121);
    border-radius: 25px;
    padding: 3px;
}

/*IFRAME*/
iframe {
    width: 100%;
    height: 250px;

    border-radius: 12px;
}

body {
    background-image: url(/IMAGES/contacts-bg.png);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
   
    justify-content: center; /* Nilalagay sa gitna ang buong nilalaman */
    align-items: flex-start; /* Pantay sa itaas ang magkabilang gilid */
    align-items: center;

    gap: 30px; /* Maliit na sapce sa pagitan ng Form at Contact details */
    
    max-width: 1200px; /* Nililimitahan ang laki para magkaroon ng malaking space sa gilid */
    margin: 0 auto; /* Sisiguraduhing nasa gitna pa rin ang main sa malalaking screen */
    padding: 40px 20px;
}

.form-container,
.contact-container {
    flex: 1;  
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    gap: 40px;

    background-color: rgba(0, 0, 0, 0.336);

    border-style: solid;
    border-color: rgba(245, 222, 179, 0.345);
    border-radius: 10px;

    padding: 10px;

    color: white;

    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.full-width {
    grid-column: span 2;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: center;
}

.full-width textarea {
    width: 100%;
    box-sizing: border-box;

    resize: none;
}

input, select, textarea {
    border-radius: 8px;

    padding: 10px;

    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.453);

    background-color: rgba(255, 251, 251, 0.303);

    color: white;
}

input::placeholder, 
select,
textarea::placeholder {
    color: rgba(209, 200, 200, 0.821);
}

label {
   font-family: Arial, Helvetica, sans-serif;
   text-align: left;
}


input:hover, 
select:hover, 
textarea:hover {
    border-style: solid;
    border-color: rgb(214, 129, 92);
}

input:focus, 
select:focus, 
textarea:focus {
    background-color: rgba(0, 0, 0, 0.384);
}

/*-------------- BUTTON ----------------*/
.button {
    display: flex;
    gap: 10px;

    grid-column: span 2;
    width: 100%;
}

button[type="submit"] {
    background-color: rgb(143, 74, 19, 0.81);
    color: white;

    border-style: solid;
    border-width: 2px;
    border-color: rgba(143, 74, 19, 0.81);


    width: 50%;

    border-radius: 15px;

    padding: 5px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button[type="reset"] {
    background-color: rgb(45, 1, 1);

    border-style: solid;
    border-width: 3px;
    border-color: rgb(143, 74, 19, 0.81);

    color: white;

    width: 50%;

    border-radius: 15px;

    padding: 8px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*CONTACTS*/
.contacts {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.contacts img + div {
    color: rgb(251, 211, 166);
    text-align: left;

    p {
        color: white;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    gap: 20px;

}

.contacts-row2 {
    color: white;
    padding: 20px;

    h1 {
        text-align: center;
    }
}

